[submodule "bin"]
	path = bin
	url = git@github.com:thanpolas/shell_helpers.git
[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:thanpolas/dotfiles.git
[submodule "Limechat-Themes"]
	path = Limechat-Themes
	url = git@github.com:jschoolcraft/Limechat-Themes.git
[submodule "sublime/sublime-text-2/Packages/tern_for_sublime"]
	path = sublime/sublime-text-2/Packages/tern_for_sublime
	url = git@github.com:marijnh/tern_for_sublime.git
