[submodule "bin"]
	path = bin
	url = git@github.com:thanpolas/shell_helpers.git
[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:thanpolas/dotfiles.git
[submodule "Limechat-Themes"]
	path = Limechat-Themes
	url = git@github.com:jschoolcraft/Limechat-Themes.git
